$secondary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
	background: #fafafa;
	color: #125688;
	font-family: 'Montserrat', sans-serif;
}

.header {
	background: #fff;
	box-shadow: none;
	border-bottom: 1px solid #edeeee;
	color: $secondary-color;
}

#main-container {
	margin: 0 auto 30px auto;
}

.timeline {
	padding: 30px 0;
}

.landing {
	margin: 30px auto;
}

.signup-image {
	max-width: 100%;
}

.login-box,
.signup-box {
	background: #fff;
	border: 1px solid #edeeee;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
}

.pictagram {
	color: $secondary-color !important;
	font-family: 'Oleo Script';
	font-size: 42px;
}

.signup-form {
	margin: 0 auto;
	width: 65%;
}

.signup-form h2 {
	color: #a5a7aa;
	font-size: 1.2em;
}

.signup-form .btn.btn-fb {
	background-color: #4090db;
	font-size: .7em;
}

.signup-form .btn.btn-fb:hover {
	background-color: #2d6599;
}

.signup-form .btn.btn-signup {
	background: #125688
}

.site-footer {
	font-size: 12px;
	text-transform: uppercase;
}

$avatar-size: 36px;

.avatar {
	border-radius: 50%;
	float: left;
	height: $avatar-size;
	margin-right: 12px;
	width: $avatar-size;

}

.card .username {
	color: $secondary-color;
}

.card small.time {
	line-height: $avatar-size;
}

.card p {
	padding: 20px 0;
}

.card .likes {
	line-height: 30px;
	margin-left: 32px;
}

.card i {
	font-size: 24px;
}

.card .fa-heart-o {
	color: $secondary-color;
}

.card .fa-heart {
	color: #f44336;
	display: none;
}



.card.liked {
	.fa-heart {
		display: block;
	}

	.fa-heart-o {
		display: none;
	}
}


.form-upload {

	span, button {
		color: #fff;
	}

	.fileUpload {
		margin: 10px;
		overflow: hidden;
		position: relative;

		input {
			bottom: 0;
			cursor: pointer;
			font-size: 20px;
			filter: alpha(opacity=0);
			margin: 0;
			padding: 0;
			position: absolute;
			opacity: 0;
			right: 0;
			top: 0;
		}
	}
}
