<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Pictagram
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script', rel='stylesheet')
    link(rel='stylesheet', href='app.css')
  body
    section#main-container
      .container
        .row
          .col.s10.push-s1
            .row
              .col.m5.hide-on-small-only
                img.signup-image(src='public/iphone.png', alt='')
              .col.s12.m7
                .row
                  .signup-box
                    h1.pictagram Pictagram
                    form.signup-form(action='')
                      h2 Sign up now!
                      .section
                        a.btn.btn-fb.hide-on-small-only(href='') Inicia sesión con Facebook
                        a.btn.btn-fb.hide-on-med-and-up(href='') Iniciar sesión
                      .divider
                      .section
                        input(type='email', name='email', placeholder='E-mail')
                        input(type='text', name='name', placeholder='Name')
                        input(type='text', name='username', placeholder='Username')
                        input(type='password', name='password', placeholder='Password')
                        button.btn.btn-signup.waves-effect.waves-light(type='submit') Sign up
                .row
                  .login-box
                    | Already have an account?
                    a(href='/signin') Sign In
    footer.site-footer
      .container
        .row
          .col.s12.m12.l3.center-align
            a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Language
            ul#dropdown1.dropdown-content
              li
                a(href='#!') English
              li
                a(href='#!') Español
          .col.s12.l3.push-l6.center-align
            | © 2016 Pictagram
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
